.box#about
  .box_title= link_to('Über Mich', {:controller=>'interest', :action=>'curriculum'}, {:title=>'Über Mich'})
  .box_content
    .thumbnails
      = link_to({:controller=>'interest', :action=>'curriculum'}, {:class=>'thumb'}) do
        %img{:src=>"http://www.gravatar.com/avatar/056c32203f8017f075ac060069823b66.png", :alt=>"Peter Schröder", :title=>"Peter Schröder"}
      %p
        Ich bin
        = age
        Jahre alt, lebe in Cosa bei Friedland in Mecklenburg Vorpommern und
        betreibe dort mit meiner Frau Petra den
        = link_to("Naturcampingplatz Star Camp Cosa", "https://www.star-camp-cosa.de", :title => "Naturcampingplatz mit Ferienwohnungen Star Camp Cosa")
