.box
	.box_title=link_to('GitHub Gists', {:controller=>'work', :action=>'github'}, {:title=>'GitHub Gists'})
	.box_content
		%ul
			-gists[0..4].each() do |gist|
				%li
					%a{:href=>"http://gist.github.com/#{gist.repo}", :title=>gist.description}= gist.description
