- if tweets.present?
  .box#twitter
    .box_title
      <a href="https://twitter.com/intent/tweet?screen_name=phoet" class="twitter-mention-button" data-show-count="false">Tweet to @phoet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    .box_content
      -tweets.each do |tweet|
        %blockquote{:class=>"box"}
          =links_4_twitter(tweet.text)
          .sub
            von
            %a{:href=>"http://twitter.com/#{tweet.user.name}", :title=>tweet.user.name}=tweet.user.name
            vor
            %a{:href=>"http://twitter.com/#{tweet.user.name}/status/#{tweet.id}", :title=>tweet.user.name}=calc_difference(tweet.created_at)
