.post
  .post_body
    = render :partial => "shared/quote", :locals => { :author =>'Loriot', :text => 'Plötzliche Regenfälle können zum Betreten einer Buchhandlung zwingen.' }

  .post_body
    %p
      In meiner Freizeit lese ich bevorzugt Fachbücher.
      Dabei sind die Themengebiete breit verstreut,
      neuerdings fokussiere ich mich jedoch hauptsächlich auf
      %a{:href=>'http://developer.apple.com/mac/library/', :title=>'Objective-C Cocoa'} Objective-C/Cocoa
      und
      %a{:href=>'http://www.ruby-lang.org/', :title=>'Ruby'} Ruby-Bücher.

    %h4 Hier eine kleine zufällige Auswahl:

  #bookshelf
    #book
      .comment_list
        - @more_array.each do |book|
          .comment.alt
            .comment_author.left
              %strong
                %a{:title=>book.title, :href=>"http://www.amazon.de/gp/product/#{book.asin}?ie=UTF8&amp;tag=kartoffelspal-21&amp;linkCode=as2&amp;camp=1638&amp;creative=19454&amp;creativeASIN=#{book.asin}"}= book.title.truncate(80)

            .clearer &nbsp;

    = render :partial => 'shared/more', :locals => {:name => 'Bücher'}
