.post
	.post_body= render :partial=>"shared/quote", :locals=>{ :author=>'Johann Wolfgang von Goethe', :text=>'Mit dem Wissen wächst der Zweifel' }
	.post_body
		%p
		Ich bin der Meinung, dass man nur durch die stetige Erweiterung seines Wissens 
		qualitativ hochwertige Software erstellen kann. Deshalb versuche ich fortwährend
		meine eigenen Fähigkeiten zu reflektieren, Schwächen zu erkennen und diese auszumerzen.
		%p
			Aus diesem Grund lese ich regelmäßig
			=link_to('Fachbücher', :action => 'bookshelf')
			, halte mich mit
			%a{:href=>"http://www.google.com/reader/shared/phoetmail", :title=>"News-Feeds"} News-Feeds
			auf dem Laufenden oder besuche 
			%a{:href=>"#roundtable", :title=>"Stammtische"} Stammtische
			,
			%a{:href=>"http://it-republik.de/conferences/railswaycon2010/", :title=>"Konferenzen"} Konferenzen
			und nehme an
			%a{:href=>"#course", :title=>"Online-Kurse"} Online-Kursen
			teil.

.post
	%a{:id=>"roundtable"}
	.div{:class=>"post_title"}
		%h2 Stammtische
	.post_date
	
	.archive_post

		.comment_gravatar.left
			%img{:title=>"CocoaHeads", :alt=>"CocoaHeads", :src=>"/images/cocoaheads.png", :height=>"32", :width=>"32"}
		.archive_post_title
			%h3
				%a{:href=>"http://groups.google.com/group/cocoaheads-hh/", :title=>"CocoaHeads"} CocoaHeads Hamburg
			.post_date Jeden 1. Donnerstag des Monats um 19:00
		.clearer &nbsp;
		%p
			Auf den Treffen der 
			%a{:href=>"http://groups.google.com/group/cocoaheads-hh/", :title=>"CocoaHeads Hamburg"} CocoaHeads Hamburg
			geht es um Cocoa-Entwicklung, sprich Mac-Development.
			In letzter Zeit ist die Gruppe durch den Hype des IPhones quasi wiederbelebt worden
			und erfreut sich seitdem wieder großer Beliebtheit.
		%p
			Die Treffen finden häufig bei 
			%a{:href => "http://cellular.de", :title => "Cellular"} Cellular
			und
			%a{:href => "http://mindmatters.de", :title => "Mindmatters"} Mindmatters
			oder in einer Kneipe auf der Schanze statt.

		.comment_gravatar.left
			%img{:title=>"Rails Usergroup", :alt=>"Rails Usergroup", :src=>"/images/rug.png", :height=>"32", :width=>"32"}
		.archive_post_title
			%h3
				%a{:href=>"http://www.rubyonrails-ug.de/wiki/hamburgsync", :title=>"hamburgsync"} Rails User Group Hamburg
			.post_date Jeden 2. Mittwoch des Monats um 19:00
		.clearer &nbsp;
		%p
			%a{:href=>"http://mindmatters.de/", :title=>"Mindmatters"} Jan Krutisch
			organisiert die Treffen häufig bei
			%a{:href=>"http://mindmatters.de/", :title=>"Mindmatters"} Mindmatters
			oder in den frisch renovierten Räumlichkeiten von
			%a{:href=>"http://xing.de/", :title=>"Xing"} Xing.
		%p
			Das März-Treffen wurde bei
			%a{:href=>'http://blaumobilfunk.de', :title=>'blau Mobilfunk GmbH'} blau
			gehostet und wir freuen uns schon darauf es erneut auszurichten.

		.comment_gravatar.left
			%img{:title=>"Extreme Programming Usergroup", :alt=>"Extreme Programming Usergroup", :src=>"/images/xpug.gif", :height=>"32", :width=>"32"}
		.archive_post_title
			%h3
				%a{:href=>"http://de.dir.groups.yahoo.com/group/xpug-hh/", :title=>"Extreme Programming Usergroup"} Extreme Programming Usergroup Hamburg
			.post_date Treffen in regelmäßigen Abständen
		.clearer &nbsp;
		%p
			Im letzten Jahr konnten wir bereits ein Treffen der Gruppe in unseren Räumlichkeiten bei 
			%a{:href=>'http://blaumobilfunk.de', :title=>'blau Mobilfunk GmbH'} blau
			veranstalten. 
			Wir hatten einen wirklich produktiven Abend mit vielen Teilnehmern und konnten diesen bei ein paar Bierchen 
			aus unserem IT-Bierkühlschrank auf unserer Büro-Couch gemütlich ausklingen lassen.

		.comment_gravatar.left
			%img{:title=>"Java Usergroup", :alt=>"Java Usergroup", :src=>"/images/jug.gif", :height=>"32", :width=>"32"}
		.archive_post_title
			%h3
				%a{:href=>"http://www.jughh.org/", :title=>"Java User Group Hamburg"} Java User Group Hamburg
			.post_date Treffen in regelmäßigen Abständen
		.clearer &nbsp;
		%p Diese Gruppe bringt professionelle Entwickler, Studenten, Manager, Anfänger und Enthusiasten zum Thema Java in der Region Hamburg zusammen.
		%p Dahinter steckt die Idee Wissen, Ideen und Gedanken auszutauschen, Vorträge zu halten, zu kollaborieren, Probleme zu diskutieren, Meinungen kund zu tun, neue Projekte anzukündigen, Freundschaften zu schliessen, Code oder einfach nur das Treffen von Menschen mit dem gemeinsamen Interesse Java.
		%p Die JUGHH ist Mitglied des weltweiten Netzwerks der Java User Groups.

		.comment_gravatar.left
			%img{:title=>"Scrum Usergroup", :alt=>"Scrum Usergroup", :src=>"/images/sug.png", :height=>"32", :width=>"32"}
		.archive_post_title
			%h3
				%a{:href=>"https://www.xing.com/net/sug-hh", :title=>"Scrum User Group Hamburg"} Scrum User Group Hamburg
			.post_date Treffen in regelmäßigen Abständen
		.clearer &nbsp;
		%p Diese Usergroup gehört ganz klar in die Kategorie "Will ich eigentlich hin, vergess ich aber immer..."

	%a{:id=>"course"}
	.post_title
		%h2 Online-Kurse
	.post_date
	
	.archive_post
		.comment_gravatar.left
			%img{:title=>"Rubylearning", :alt=>"Rubylearning", :src=>"/images/rubylearning.png", :height=>"32", :width=>"32"}

		.archive_post_title
			%h3
				%a{:href=>"http://www.rubylearning.org", :title=>"Rubylearning"} Rubylearning
			.post_date Regelmäßige Kurse in unterschiedlichen Bereichen

		.clearer &nbsp;
		
		%p
			Rubylearning wird von 
			%a{:href=>"http://twitter.com/RubyLearning", :title=>"Satish Talim"} Satish Talim,
			einem indischen Software-Guru, betreut. Dort gibt es sehr schön kurze Online-Kurse im Ruby-Umfeld.
		%p
			Ich habe dort bis jetzt Kurse über
			%ul
				%li
					%a{:href=>"http://www.sinatrarb.com/", :title=>"Sinatra"} Sinatra
				%li
					%a{:href=>"http://merbivore.org/", :title=>"Merb"} Merb
				%li
					%a{:href=>"http://github.com/", :title=>"Git und GitHub"} Git und GitHub
				%li
					%a{:href=>"http://de.wikipedia.org/wiki/Metaprogrammierung", :title=>"Metaprogrammierung"} Metaprogrammierung
				%li
					%a{:href=>"http://shoooes.net/", :title=>"Shoes"} Shoes
			besucht und war bis jetzt immer sehr zufrieden mit den kompakten und gut aufbereiteten Inhalten.
		
		%p
			Die Kurse kosten immer um die 10$ und dauern ca. 1 bis 2 Wochen.
