.post
  .post_body= render :partial=>"shared/quote", :locals=>{ :author=>'Johann Wolfgang von Goethe', :text=>'Mit dem Wissen wächst der Zweifel' }
  .post_body
    %p
      Nur durch die stetige Erweiterung seines Wissens kann man dauerhaft qualitativ hochwertige Software kann. Deshalb versuche ich fortwährend meine eigenen Fähigkeiten zu reflektieren, Schwächen zu erkennen und diese auszumerzen.
    %p
      Aus diesem Grund lese ich regelmäßig
      = link_to('Fachbücher', :action => 'bookshelf') + ", "
      halte mich mit News-Feeds auf dem Laufenden oder besuche
      = link_to("Stammtische", "#roundtable", :title=>"Stammtische")
      und
      = link_to("Konferenzen", "#conference", :title=>"Konferenzen") + "."

.post
  %a{:id=>"roundtable"}
  .div{:class=>"post_title"}
    %h2 Stammtische
  .post_date
  .archive_post
    .comment_gravatar.left
      %img{:title=>"Ruby und Rails Usergroup", :alt=>"Ruby und Rails Usergroup", :src=>"/assets/hamburg_on_ruby.png", :height=>"32", :width=>"32"}
    .archive_post_title
      %h3
        %a{:href=>"http://hamburg.onruby.de", :title=>"Hamburg on Ruby"} Ruby Usergroup Hamburg
      .post_date Jeden 2. Mittwoch des Monats um 19:00

  .archive_post
    .comment_gravatar.left
      %img{:title=>"CocoaHeads", :alt=>"CocoaHeads", :src=>"/assets/cocoaheads.jpg", :height=>"32", :width=>"32"}
    .archive_post_title
      %h3
        %a{:href=>"http://groups.google.com/group/cocoaheads-hh/", :title=>"CocoaHeads"} CocoaHeads Hamburg
      .post_date Jeden 1. Donnerstag des Monats um 19:00

  .archive_post
    .comment_gravatar.left
      %img{:title=>"Extreme Programming Usergroup", :alt=>"Extreme Programming Usergroup", :src=>"/assets/xpug.gif", :height=>"32", :width=>"32"}
    .archive_post_title
      %h3
        %a{:href=>"http://de.dir.groups.yahoo.com/group/xpug-hh/", :title=>"Extreme Programming Usergroup"} Extreme Programming Usergroup Hamburg
      .post_date Treffen in regelmäßigen Abständen

  .archive_post
    .comment_gravatar.left
      %img{:title=>"Scrum Usergroup", :alt=>"Scrum Usergroup", :src=>"/assets/sug.png", :height=>"32", :width=>"32"}
    .archive_post_title
      %h3
        %a{:href=>"https://www.xing.com/net/sug-hh", :title=>"Scrum User Group Hamburg"} Scrum User Group Hamburg
      .post_date Treffen in regelmäßigen Abständen

.post
  %a{:id=>"conference"}
  .div{:class=>"post_title"}
    %h2 Konferenzen 2012
  .post_date

  .archive_post
    .comment_gravatar.left
      %img{:title=>"Arrrr Camp", :alt=>"Arrrr Camp", :src=>"/assets/arrrrcamp.png", :height=>"32", :width=>"32"}
    .archive_post_title
      %h3
        %a{:href=>"http://arrrrcamp.be/", :title=>"Arrrr Camp"} Arrrr Camp
      .post_date 04.-05. Oktober 2012

  .archive_post
    .comment_gravatar.left
      %img{:title=>"BaRuCo", :alt=>"BaRuCo", :src=>"/assets/baruco.png", :height=>"32", :width=>"32"}
    .archive_post_title
      %h3
        %a{:href=>"http://baruco.org/", :title=>"Arrrr Camp"} Barcelona Ruby Conference
      .post_date 08.-09. September 2012

  .archive_post
    .comment_gravatar.left
      %img{:title=>"Scottish Ruby Conf", :alt=>"Scottish Ruby Conf", :src=>"/assets/scottishrubyconf.png", :height=>"32", :width=>"32"}
    .archive_post_title
      %h3
        %a{:href=>"http://scottishrubyconference.com/", :title=>"Scottish Ruby Conf"} Scottish Ruby Conf Edinburgh
      .post_date 29.-30. Juni 2011

  .archive_post
    .comment_gravatar.left
      %img{:title=>"Euruko", :alt=>"Euruko", :src=>"/assets/euruko.png", :height=>"32", :width=>"32"}
    .archive_post_title
      %h3
        %a{:href=>"http://www.euruko2012.org/", :title=>"Euruko"} Euruko Amsterdam
      .post_date 01.-02. Juni 2011

  .archive_post
    .comment_gravatar.left
      %img{:title=>"Railsberry", :alt=>"Railsberry", :src=>"/assets/railsberry.png", :height=>"32", :width=>"32"}
    .archive_post_title
      %h3
        %a{:href=>"http://railsberry.com/2012", :title=>"Railsberry"} Railsberry Krakau
      .post_date 18.-20. April 2012

.post
  .div{:class=>"post_title"}
    %h2 Konferenzen 2011
  .post_date

  .archive_post
    .comment_gravatar.left
      %img{:title=>"Railscamp Hamburg", :alt=>"Railscamp Hamburg", :src=>"/assets/railscamp-hamburg.png", :height=>"32", :width=>"32"}
    .archive_post_title
      %h3
        %a{:href=>"http://railscamp-hamburg.de/", :title=>"Railscamp Hamburg"} Railscamp Hamburg
      .post_date 29.-30. Oktober 2011

  .archive_post
    .comment_gravatar.left
      %img{:title=>"Arrrr Camp", :alt=>"Arrrr Camp", :src=>"/assets/arrrrcamp.png", :height=>"32", :width=>"32"}
    .archive_post_title
      %h3
        %a{:href=>"http://arrrrcamp.be/", :title=>"Arrrr Camp"} Arrrr Camp
      .post_date 07. Oktober 2011

  .archive_post
    .comment_gravatar.left
      %img{:title=>"Eurucamp", :alt=>"Eurucamp", :src=>"/assets/eurucamp.png", :height=>"32", :width=>"32"}
    .archive_post_title
      %h3
        %a{:href=>"http://eurucamp.org", :title=>"Eurucamp"} Eurucamp Berlin
      .post_date 28.-29. Mai 2011

.post
  .div{:class=>"post_title"}
    %h2 Konferenzen 2010
  .post_date

  .archive_post
    .comment_gravatar.left
      %img{:title=>"Railscamp Hamburg", :alt=>"Railscamp Hamburg", :src=>"/assets/railscamp-hamburg.png", :height=>"32", :width=>"32"}
    .archive_post_title
      %h3
        %a{:href=>"http://railscamp-hamburg.de/", :title=>"Railscamp Hamburg"} Railscamp Hamburg
      .post_date 23.-24. Oktober 2010

  .archive_post
    .comment_gravatar.left
      %img{:title=>"RailsWayCon", :alt=>"RailsWayCon", :src=>"/assets/railswaycon.png", :height=>"32", :width=>"32"}
    .archive_post_title
      %h3
        %a{:href=>"http://it-republik.de/conferences/railswaycon2010/", :title=>"RailsWayCon"} RailsWayCon
      .post_date 31. Mai - 2. Juni 2010
