.post
  .post_title
    %h1 in Stichpunkten
  .post_body
    %dl
      %dt Visitenkarte
      %dd
        Name:
        %strong Peter Schröder
      %dd
        Anschrift:
        %strong Schanzenstr. 85, 20357 Hamburg
      %dd
        Geburtstag:
        %strong 27. August 1980
      %dd
        Telefon:
        %strong +49 178 1391035
      %dd
        E-Mail:
        %strong ps@nofail.de

      %dt Ausbildung
      %dd Allgemeine Hochschulreife mit Vollabitur im Juli 2000
      %dd Diplom (FH) in Informatik im Juli 2005

      %dt Projekte
      %dd Weiterentwicklung und Optimierung der Qype-Plattform
      %dd Unterstützung bei der Migration zu Grails bei DatingCafe
      %dd Neuentwicklung der Plattform mit Rails bei "Wer liefert Was?"

      %dt Berufserfahrung
      %dd Praktika als Software-Entwickler unter anderem bei der wquadrat GmbH in Kiel, der GfeH mbH in Hamburg und der Anybet GmbH in Hamburg
      %dd Entwickler für Online-Games bei der e-sport GmbH in Hamburg
      %dd Web-Entwickler bei der freenet.de AG in Hamburg
      %dd Software-Entwickler bei der blau Mobilfunk GmbH in Hamburg
      %dd Software-Entwickler, DevOps bei Shopify Inc. in Ottawa, Kanada
      %dd Software-Entwickler bei der Jimdo GmbH in Hamburg
      %dd Manager bei der Jimdo GmbH in Hamburg
      %dd Software-Entwickler bei der XING AG in Hamburg

      %dt Paradigma
      %dd Agile Software-Entwicklung und Design
      %dd Testgetriebene Entwicklung
      %dd Serviceorientierte Architektur
