.post
  .post_title
    %h1 in Stichpunkten
  .post_body
    %dl
      %dt Visitenkarte
      %dd
        Name:
        %strong Peter Schröder
      %dd
        Anschrift:
        %strong Tigerstr. 32, 22525 Hamburg
      %dd
        Geburtstag:
        %strong 27. August 1980
      %dd
        E-Mail:
        %strong ps@nofail.de

      %dt Ausbildung
      %dd Allgemeine Hochschulreife mit Vollabitur im Juli 2000
      %dd Diplom (FH) in Informatik im Juli 2005

      %dt Freiberuflich
      %dd Software-Entwickler bei der Qype GmbH, jetzt Yelp Inc.
      %dd Software-Entwickler bei der "Wer liefert Was?" GmbH in Hamburg
      %dd DevOps bei Shopify Inc. Remote in Hamburg
      %dd Software-Entwickler bei der Jimdo GmbH in Hamburg
      %dd Head of Backend-Engineering bei der Jimdo GmbH in Hamburg
      %dd Software-Entwickler bei der XING AG in Hamburg
      %dd Software-Entwickler bei der sum.cumo GmbH in Hamburg
      %dd CTO bei der Penseo GmbH in Hamburg

      %dt Festanstellung
      %dd Praktika als Software-Entwickler unter anderem bei der wquadrat GmbH in Kiel, der GfeH mbH in Hamburg und der Anybet GmbH in Hamburg
      %dd Entwickler für Online-Games bei der e-sport GmbH in Hamburg
      %dd Software-Entwickler bei der freenet.de AG in Hamburg
      %dd Software-Entwickler bei der blau Mobilfunk GmbH in Hamburg
      %dd Software-Entwickler bei Shopify Inc. in Ottawa, Kanada

      %dt Paradigma
      %dd Agile Software-Entwicklung und Design
      %dd Testgetriebene Entwicklung
      %dd Serviceorientierte Architektur
