.post
  .post_title
    %h1 in Stichpunkten
  .post_body
    %dl
      %dt Visitenkarte
      %dd 
        Name: 
        %strong Peter Schröder
      %dd
        Anschrift: 
        %strong Schanzenstr. 85, 20357 Hamburg
      %dd
        Geburtstag: 
        %strong 27. August 1980
      %dd 
        Telefon: 
        %strong +49 178 1391035
      %dd
        E-Mail: 
        %strong phoetmail (at) googlemail (punkt) com
      
      %dt Ausbildung
      %dd Allgemeine Hochschulreife mit Vollabitur im Juli 2000
      %dd Diplom (FH) in Informatik im Juli 2005
      
      %dt Berufserfahrung
      %dd Praktika als Software-Entwickler unter anderem bei der wquadrat GmbH in Kiel, der GfeH mbH in Hamburg und der Anybet GmbH in Hamburg
      %dd Entwickler für Online-Games bei der e-sport GmbH in Hamburg
      %dd Web-Entwickler bei der freenet.de AG in Hamburg
      %dd Software-Entwickler bei der blau Mobilfunk GmbH in Hamburg
      
      %dt Paradigma
      %dd Agile Software-Entwicklung und Design
      %dd Testgetriebene Entwicklung
      %dd Serviceorientierte Architektur
      
      %dt Akronym
      %dd DRY, KISS, YAGNI, SRP
      %dd SOA, DDD, TDD, IoC