.comment_list
	.comment.alt
		.comment_gravatar.left
			%img{:alt => title, :src => "/images/pdf.png", :height => 32, :width => 32}
		.comment_author.left
			%h3
				=link_to(title, :action => 'curriculum_pdf', :type => "curriculum_#{type}", :format => 'pdf')
			.comment_date="~ 250 KB"
		.clearer &nbsp;