.comment_list
	.comment.alt
		.comment_gravatar.left
			%img{:alt => title, :src => "/images/pdf.png", :height => 32, :width => 32}
		.comment_author.left
			%h3
				%a{:href => href, :title => title}= title
			.comment_date="~ #{file_size('public/' + href)} KB"
		.clearer &nbsp;