.post
  .post_body= render :partial => "shared/quote", :locals => { :author =>'Wilhelm Busch', :text => 'Ist der Ruf erst ruiniert, lebt es sich ganz ungeniert.' }

=render :partial => 'document', :locals => {:href => url_for(:controller => "interest", :action => "curriculum_pdf", :type => "bullets", :format => "pdf"), :title => 'Lebenslauf in Stichpunkten'}
=render :partial => 'document', :locals => {:href => url_for(:controller => "interest", :action => "curriculum_pdf", :type => "table", :format => "pdf"), :title => 'tabellarischer Lebenslauf'}

=render :partial => 'curriculum_bullets'
=render :partial => 'curriculum_table'