.post
  .post_body= render :partial => "shared/quote", :locals => { :author =>'Wilhelm Busch', :text => 'Ist der Ruf erst ruiniert, lebt es sich ganz ungeniert.' }

=render :partial => 'curriculum_bullets'
=render :partial => 'curriculum_table'
