.post
  .post_body
    =render :partial => "shared/quote", :locals => { :author =>'Volksmund', :text => 'Wer rastet, der rostet!' }
    %p
      Getreu dieses Mottos habe ich in meinem noch kurzen Berufsleben schon
      viele Jobwechsel vollzogen und durfte dabei unterschiedlichste Arbeitgeber kennenlernen.
    %p
      Bei jedem Wechsel konnte ich neue Aufgabengebiete erschließen und meinen Erfahrungsschatz erweitern.
      Heute verfüge ich über ein breites Fundament von solidem Fachwissen und einen
      großen Werkzeugkoffer mit vielen Mustern, Methoden und Vorgehensweisen, die ich gerne
      mit Kollegen diskutiere und verfeinere.
    %p
      An dieser Stelle möchte ich ein paar beispielhafte Stationen des bisher beschrittenen Weg aufzeigen:
    %ul
      %li
        %a{:href => "#fromatob"} Verkehrsmittelvergleich.de GmbH
      %li
        %a{:href => "#blau"} blau Mobilfunk GmbH
      %li
        %a{:href => "#freenet"} freenet AG
      %li
        %a{:href => "#bigpoint"} Bigpoint GmbH

/ fromatob
.post
  .post_title
    %h2
      %a{:id => "fromatob", :href => "http://www.verkehrsmittelvergleich.de/", :title => "Verkehrsmittelvergleich.de GmbH"} Ruby Entwickler bei Verkehrsmittelvergleich.de

  .post_date seit Oktober 2010
  .post_body
    %a{:href => "http://www.verkehrsmittelvergleich.de/", :title => "Verkehrsmittelvergleich.de GmbH"}
      %img{:src => "/images/fromatob.png", :class => "alignleft", :alt => "Verkehrsmittelvergleich.de GmbH", :title => "Verkehrsmittelvergleich.de GmbH"}
    .clearer &nbsp;
    %p
      Im Oktober bin ich nach einer turbulenten Job-Suche als Ruby Entwickler bei
      %a{:href => "http://www.verkehrsmittelvergleich.de/", :title => "Verkehrsmittelvergleich.de GmbH"} Verkehrsmittelvergleich.de
      an den Start gegangen.
    %p
      Verkehrsmittelvergleich.de ist ein relativ junges Start-Up, das durch Risikokapital finanziert wird.
      Derzeit wird mit Hochdruck an der neuen Platform
      %a{:href => "http://www.fromatob.com", :title => "fromAtoB"} fromAtoB
      gebaut, an dessen Entwicklung ich zusammen mit dem CTO von VMV
      %a{:href => "https://www.xing.com/profile/Daniel_Nolte", :title => "Daniel Nolte"} Daniel Nolte
      sowie Tobias Adams und
      %a{:href => "https://www.xing.com/profile/Jan_Krutisch", :title => "Jan Krutisch"} Jan Krutisch
      von
      %a{:href => "http://mindmatters.de/", :title => "mindmatters GmbH"} mindmatters
      sitze.
    
    .clearer &nbsp;
    
    .post_meta
      Links: 
      %a{:href => "http://www.verkehrsmittelvergleich.de/", :title => "Verkehrsmittelvergleich.de"} Verkehrsmittelvergleich.de
      |
      %a{:href => "http://www.fromatob.com", :title => "fromAtoB"} fromAtoB
      |
      %a{:href => "http://blog.verkehrsmittelvergleich.de/", :title => "Verkehrsmittelvergleich.de Blog"} Verkehrsmittelvergleich.de Blog

/ blau
.post
  .post_title
    %h2
      %a{:id => "blau", :href => "http://www.blaumobilfunk.de", :title => "blau Mobilfunk GmbH"} Software-Entwickler bei blau

  .post_date 2007 bis 2010
  .post_body
    %a{:href => "http://www.blaumobilfunk.de", :title => "blau Mobilfunk GmbH"}
      %img{:src => "/images/blau.png", :class => "alignleft", :alt => "blau Mobilfunk GmbH", :title => "blau Mobilfunk GmbH"}
    .clearer &nbsp;
    %p
      3 Jahre habe ich als Softwareentwickler im Bereich 
      %a{:href => "http://de.wikipedia.org/wiki/Java_Platform,_Enterprise_Edition", :title => "J2EE"} J2EE
      bei 
      %a{:href => "http://www.blaumobilfunk.de", :title => "blau Mobilfunk GmbH"} blau
      gearbeitet.
      Die blau-IT besteht aus einem Team von über 20 Mann (und einer Frau!) aus den
      Bereichen Java-Entwicklung, Web-Entwicklung (Rails), Operations und IT-Management.
    %p
      Die Software-Entwicklung kann sich in weiten Teilen selbst organisieren und benutzt den agilen 
      %a{:href => "http://en.wikipedia.org/wiki/Scrum_(development)", :title => "SCRUM"} SCRUM-Prozess
      für die Abwicklung der Projektaufgaben. 
      Die Umsetzung von agilen Methoden und pragmatischen Ansätzen wird im Team besprochen und tagtäglich praktiziert.
      Testdriven Development, Continous Integration, Refactoring und Pairprogramming stehen dabei hoch im Kurs.
    %p
      %a{:href => "http://jruby.org/", :title => "JRuby"}JRuby
      ="/"
      %a{:href => "http://www.ruby-lang.org", :title => "The Ruby Language"} Ruby
      wird verstärkt als Programmiersprache eingesetzt, da diese besonders gut mit
      den Paradigmen der agilen Software-Entwicklung harmoniert. 
      Bisher werden die mit Ruby erstellten Werkzeuge hauptsächlich für die Automatisierung von 
      Aufgaben wie Release, Deployment und Spidering eingesetzt.
      %br
      Als Build-Werkzeug wird deshalb
      %a{:href => "http://buildr.apache.org", :title => "Buildr"} Buildr
      als Ersatz für ANT genutzt, wobei eine selbst entwickelte 
      %a{:href => "http://github.com/klaas1979/ivy4r/", :title => "ivy4r"} ivy4r Bibliothek
      verwendet wird, um die Abhängigkeitsverwaltung
      %a{:href => "http://ant.apache.org/ivy/", :title => "Ivy"} Apache-Ivy
      einbinden zu können.
      %br
      Auch einige (J)Ruby on Rails Anwendungen für den Inhouse-Einsatz sind bereits im produktiven Einsatz,
      %a{:href => "http://www.simvoice.de", :title => "simvoice"} die erste "Live" Anwendung
      ist auch bereits am Start.
    
    .clearer &nbsp;
    
    .post_meta
      Links: 
      %a{:href => "http://www.blaumobilfunk.de", :title => "blau Mobilfunk GmbH"} blau Mobilfunk GmbH
      |
      %a{:href => "http://www.blau.de", :title => "blau.de - Sei schlau, telefonier blau."} blau.de
      |
      %a{:href => "http://www.blauworld.de", :title => "blauworld - the call home SIM"} blauworld
      |
      %a{:href => "http://www.plus-kom.de", :title => "plus-kom - DER SUPERGÜNSTIGE HANDYTARIF VON PLUS"} PLUSKOM
      |
      %a{:href => "http://www.nettokom.de", :title => "NettoKOM - Günstig mobil telefonieren"} NettoKOM
      |
      %a{:href => "http://www.simvoice.de", :title => "simvoice"} SIMVOICE

/ freenet
.post
  .post_title
    %h2
      %a{:id => "freenet", :href => "http://www.freenet.ag", :title => "freenet AG"} Java-Entwickler bei Freenet

  .post_date August 2006 bis August 2007
  .post_body
    %a{:href => "http://www.freenet.ag", :title => "freenet AG"}
      %img{:src => "/images/freenet.png", :class => "alignleft", :alt => "freenet AG", :title => "freenet AG"}
    .clearer &nbsp;
    %p
      Vor meiner Zeit bei blau habe ich meine ersten professionellen Erfahrungen als
      Java-Entwickler im J2EE-Bereich bei
      %a{:href => "http://www.freenet.ag", :title => "freenet AG"} Freenet
      sammeln können. 
      Im Point-of-Sale-Team habe ich in der Hamburger Zentrale
      diverse Bestellprozesse betreut und Webservice-Schnittstellen entwickelt.
      Unter anderem habe ich dort einen neuen
      %a{:href => "https://pos.klarmobil.de/klarmobil/app?tid=10306", :title => "klarmobil.de"} Bestellprozess für Klarmobil.de
      erstellt und supported.
      
    .clearer &nbsp;
    
    .post_meta
      Links: 
      %a{:href => "http://www.freenet.ag", :title => "Freenet AG"} Freenet AG
      |
      %a{:href => "http://www.freenet.de", :title => "Freenet.de"} Freenet.de
      |
      %a{:href => "http://www.klarmobil.de", :title => "klarmobil.de - Einfach, Ehrlich, Günstig"} klarmobil.de

/ bigpoint
.post
  .post_title
    %h2
      %a{:id => "bigpoint", :href => "http://www.bigpiont.de", :title => "Bigpoint"} Spiele-Entwickler bei Bigpoint
  
  .post_date Januar bis Mai 2006
  .post_body
    %a{:href => "http://www.bigpiont.de", :title => "Bigpoint"}
      %img{:src => "/images/bigpoint.png", :class => "alignleft", :alt => "Bigpoint GmbH", :title => "Bigpoint GmbH"}
    .clearer &nbsp;
    %p
      Anfang 2006 habe ich direkt nach dem Studium als Entwickler für Browsergames bei der 
      %a{:href => "http://www.bigpiont.de", :title => "Bigpoint"} Bigpoint GmbH
      =" - "
      damals noch E-Sport GmbH - angeheuert. Dort konnte ich meine ersten Erfahrungen mit Frameworks, 
      Entwicklungsumgebungen und Versionskontrollen sammeln. 
    %p
      %a{:href => "http://www.the-mafia.de", :title => "The Mafia"}
        %img{:src => "/images/the-mafia.png", :class => "alignleft", :alt => "The Mafia", :title => "The Mafia"}
        In wenigen Monaten habe ich dort eine neue Version des sehr 
        %a{:href => "http://www.mafia1930.de", :title => "Mafia-1930"} beliebten Browsergames Mafia-1930
        entwickelt.
        Das grafisch stark überarbeitete neue 
        %a{:href => "http://www.the-mafia.de", :title => "The Mafia"} The Mafia
        musste hohen Geschwindigkeits-Ansprüchen genügen, da dort in Stoßzeiten
        mehrere tausend Spieler gleichzeitig online waren.
        Besonders viel Verkehr gab es jedoch, 
        wenn mal wieder ein Werbetrailer auf 
        %a{:href => "http://www.sevengames.de/onlinegames/", :title => "Sevengames"} Pro7
        lief.
        
        
    .clearer &nbsp;
    
    .post_meta
      Links: 
      %a{:href => "http://www.bigpiont.de", :title => "Bigpoint"} Bigpoint GmbH
      |
      %a{:href => "http://www.the-mafia.de", :title => "The Mafia"} The Mafia
      |
      %a{:href => "http://www.mafia1930.de", :title => "Mafia-1930"} Mafia-1930
      |
      %a{:href => "http://www.sevengames.de/onlinegames/", :title => "Sevengames"} Sevengames
