// Place your application-specific JavaScript functions and classes here
// This file is automatically included by javascript_include_tag :defaults

// ajax stuff
$(document).ready(function(){
	$('.more').on('click', 'a', function(){
		var url = $(this).attr('href');
		var id = $(this).attr('name');
		var c = $('#' + id);
		$(this).before('<div class="comment_gravatar spinner center"><%= image_tag("spinner.gif") %></div>');
		c.load(url + ' #' + id, function(data){
			$('.spinner').remove();
		});
		return false;
	});
	$('.gallery-slideshow-container').on('click', 'a', function(){
		var name = $(this).attr('name');
		$('.images_' + name + ' a').lightBox();
		$('.images_' + name + ' a :first').click();
		return false;
	 });
	toggle_feed();
});

$(document).ajaxComplete(function(event,request, settings){
	toggle_feed();
});

function toggle_feed() {
	$('.header').click(function(){
		$(this).next().toggle('slow');
		return false;
	}).next().hide();
}
